@if (Transactions.Count() > 0)
{
    @foreach (var transaction in Transactions)
    {
        <div class="card-body border-0 bg-white shadow-sm link-effect mb-3">
            <div class="row">
                <div class="col-4 d-flex align-items-center">
                    @if (transaction.Amount > 0)
                    {
                        <i style="font-size: 20px" class="bi-caret-up-fill text-success"></i>
                    }
                    else
                    {
                        <i style="font-size: 20px" class="bi-caret-down-fill text-danger"></i>
                    }
                    <div class="ms-2 d-inline-block">
                        <strong>@transaction.SoftDescriptor</strong>
                    </div>
                </div>
                <div class="col d-flex">
                    <span class="text-secondary text-center">@transaction.CreatedAt.ToString("dd/MM/yyyy")</span>
                </div>
                <div class="col" d-flex align-items-center>
                    <strong class="me-2 text-right @GetAmountColor(transaction.Amount)" style="font-size: 20px">
                        R$ @MoneyFormatter.Format(transaction.Amount)
                    </strong>
                </div>
            </div>
        </div>
    }
}
else
{
    <h4>Nenhuma transação disponível</h4>
}

@code {
    [Parameter]
    public IEnumerable<WalletTransaction> Transactions { get; set; } = new List<WalletTransaction>();

    private string GetAmountColor(long amount)
    {
        return amount >= 0 ? "text-success" : "text-danger";
    }
}
