@page "/calendar"
@attribute [Authorize]

<CalendarLayout>
    <h4 class="mt-3">Próximos</h4>
    <NavLink href="calendar/schedules/1234" class="text-decoration-none">
        <div class="card-body border-0 bg-white shadow-sm link-effect text-dark">
            <div class="row">
                <div class="col-4 d-flex align-items-center">
                    <img style="width: 40px;" class="img-thumbnail rounded-circle" src="https://images.generated.photos/Kzo3fFsy0uByJSf5nwYZdFrnOh8vGR2nSbXQ26Tak4Q/rs:fit:256:256/Z3M6Ly9nZW5lcmF0/ZWQtcGhvdG9zL3Yz/XzAxMzY5NTQuanBn.jpg" />
                    <div class="ms-2 d-inline-block">
                        <strong>Yago Rocha</strong>
                    </div>
                </div>
                <div class="col-3 d-flex align-items-center">
                    <span class="text-secondary">Escola xpto</span>
                </div>
                <div class="col" d-flex align-items-center>
                    <strong class="text-primary me-2" style="font-size: 30px">14:05</strong>
                    <span>Sexta feira, 10 de Janeiro</span>
                </div>
            </div>
        </div>
    </NavLink>
</CalendarLayout>

@code {
}
