<nav class="app-navbar navbar navbar-expand-md navbar-light bg-white border-bottom">
    <div class="container-fluid">
        <div class="row w-100 p-0 m-0 d-flex align-items-center">
            <div class="col-2 d-flex justify-content-start align-items-center">
                <NavLink class="navbar-brand" href="" Match="NavLinkMatch.All">
                    <img src="/img/logo.svg" alt="" width="50" class="d-inline-block align-top">
                </NavLink>
                <hr class="d-inline-block me-3" style="border: 0; border-right: 1px solid var(--bs-secondary); height: 40px; width: 1px" />
                <h5 class="d-inline-block text-dark">
                    @PageTitle
                </h5>
            </div>

            <div class="col d-flex justify-content-center">
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav center-navbar mx-auto">
                        <li class="nav-item">
                            <NavLink class="nav-link text-center" href="" Match="NavLinkMatch.All">
                                <i class="d-block bi-house" />
                                Home
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink class="nav-link text-center" href="notifications">
                                <i class="d-block bi-bell" />
                                Notificações
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink class="nav-link text-center" href="school">
                                <i class="d-block bi-book" />
                                Escola
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink class="nav-link text-center" href="wallet">
                                <i class="d-block bi-wallet2" />
                                Carteira
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink class="nav-link text-center" href="calendar">
                                <i class="d-block bi bi-calendar-date" />
                                Calendário
                            </NavLink>
                        </li>
                        <li class="nav-item">
                            <NavLink class="nav-link text-center" href="chatroom">
                                <i class="d-block bi bi-chat-dots" />
                                Chat
                            </NavLink>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-2 d-flex justify-content-end">
                <ul class="navbar-nav d-flex align-items-center">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown navbar-rounded-menu-item" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi-bell-fill" style="font-size: 15px;width: 40px;height:40px"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end p-2">
                            <h6>Notificações</h6>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <img class="img-thumbnail rounded-circle" style="width: 40px" src="https://images.generated.photos/MkCJmK1h5o3BpX9Xw8jG35BmFaFjJW9vbkyLcju_tXg/rs:fit:256:256/Z3M6Ly9nZW5lcmF0/ZWQtcGhvdG9zL3Yz/XzAzMjAwNTFfMDAw/Njg5NV8wODEwNTA2/LmpwZw.jpg" />
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item" href="/profile">Perfil</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="account/logout">Sair</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<style>
    .app-navbar {
        height: 80px;
    }

        .app-navbar .nav-item {
            font-size: 12px;
            color: var(--bs-secondary);
        }

        .app-navbar .center-navbar .nav-item .nav-link {
            border: 1px solid #FFF;
            background: #FFF;
            border-radius: 10px;
            font-weight: bold;
            width: 100px;
            height: 65px;
        }

            .app-navbar .center-navbar .nav-item .nav-link.active {
                border-color: #dee2e6;
                color: var(--bs-primary) !important;
                box-shadow: 0 .125rem .25rem rgba(0,0,0,.075) !important;
            }

                .app-navbar .center-navbar .nav-item .nav-link.active span {
                    font-weight: bold;
                }

                .app-navbar .center-navbar .nav-item .nav-link.active i {
                    color: var(--bs-primary);
                }

            .app-navbar .center-navbar .nav-item .nav-link i {
                font-size: 18px;
                color: var(--bs-secondary);
            }

        .app-navbar .center-navbar i {
            margin-bottom: 5px;
        }

        .app-navbar .center-navbar .nav-item:not(:last-child) {
            margin-right: 10px;
        }

    .navbar-rounded-menu-item {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: var(--bs-light);
        color: var(--bs-dark);
        text-align: center;
        line-height: 0;
        margin-top: 7px;
    }
</style>

@code
{
    [CascadingParameter]
    RouteData RouteData { get; set; }

    public string PageTitle
    {
        get
        {
            const string defaultPageTitle = "Exply me";
            var titleProperty = RouteData?.PageType?.GetProperty("Title");

            return titleProperty is null
                ? defaultPageTitle
                : (titleProperty.GetValue(null, null) as string) ?? defaultPageTitle;
        }
    }
}