@page "/class/{ClassId:long}/teacher"
@attribute [Authorize]

<div class="card mx-auto shadow mt-4" style="width: 1200px">
    <div class="card-body">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="card" style="        border-color: #a380f6;">
                        <div class="card-header" style="        background-color: #5b3ec9;">
                            <h5 style="text-align:center; color:white;">Lista dos Professores</h5>
                        </div>
                        <div class="card-body">
                            <img class="thumbnail rounded-circle mx-auto d-block" src="https://uploaddeimagens.com.br/images/003/036/861/original/undraw_teaching_f1cm.png?1610923612" style="width: 300px" />
                        </div>
                    </div>
                </div>
                <div class="col-8">
                    <div class="d-block card border mb-2">
                        <div class="row">
                            <div class="col m-2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-eyeglasses" viewBox="0 0 16 16">
                                    <path d="M4 6a2 2 0 1 1 0 4 2 2 0 0 1 0-4zm2.625.547a3 3 0 0 0-5.584.953H.5a.5.5 0 0 0 0 1h.541A3 3 0 0 0 7 8a1 1 0 0 1 2 0 3 3 0 0 0 5.959.5h.541a.5.5 0 0 0 0-1h-.541a3 3 0 0 0-5.584-.953A1.993 1.993 0 0 0 8 6c-.532 0-1.016.208-1.375.547zM14 8a2 2 0 1 1-4 0 2 2 0 0 1 4 0z" />
                                </svg>
                            </div>
                            <div class="col m-2">
                                <span>Jorge Silva</span>
                            </div>
                            <div class="col m-2">
                                <button class="btn btn-outline-success btn-sm">Detalhes do Professor</button>
                            </div>
                            <div class="col m-2">
                                <button class="btn btn-outline-success btn-sm">Associar Professor</button>
                            </div>
                        </div>
                    </div>
                    <div class="d-block card border mb-2">
                        <div class="row">
                            <div class="col m-2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-eyeglasses" viewBox="0 0 16 16">
                                    <path d="M4 6a2 2 0 1 1 0 4 2 2 0 0 1 0-4zm2.625.547a3 3 0 0 0-5.584.953H.5a.5.5 0 0 0 0 1h.541A3 3 0 0 0 7 8a1 1 0 0 1 2 0 3 3 0 0 0 5.959.5h.541a.5.5 0 0 0 0-1h-.541a3 3 0 0 0-5.584-.953A1.993 1.993 0 0 0 8 6c-.532 0-1.016.208-1.375.547zM14 8a2 2 0 1 1-4 0 2 2 0 0 1 4 0z" />
                                </svg>
                            </div>
                            <div class="col m-2">
                                <span>Carlos Soares</span>
                            </div>
                            <div class="col m-2">
                                <button class="btn btn-outline-success btn-sm">Detalhes do Professor</button>
                            </div>
                            <div class="col m-2">
                                <button class="btn btn-outline-success btn-sm">Associar Professor</button>
                            </div>
                        </div>
                    </div>
                    <a href="teacher/create" class="btn btn-success btn-lg mx-auto my-4 d-block" style="width: 180px;background-color: #2f9c66;border-color: #124929;">Criar Professor</a>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .btn-outline-success {
        border-color: #9279f4;
        color: #9279f4;
    }

        .btn-outline-success:hover {
            color: #fff;
            background-color: #9279f4;
            border-color: #9279f4;
        }
</style>

@code {
    public static string Title => "Lista de Professores";

    [Parameter]
    public long ClassId { get; set; }

}
